.jumbotron {
    background-color: #20315A;
    color: white;
    margin: 0 auto;
    width: 960px;
    
}

.title {
    font-size: 60px;
}

* {
    font-family: 'News Cycle', sans-serif;
}

form {
    margin: 0 auto;
    width: 960px;
}

.panel-title {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin: auto;
    width: 960px;
    background-color: #20315A;
    color: white;

}

.panel-heading {
    margin: 10px auto;
    width: 960px;
}

.form-group {
    width: 900px;
    margin: auto;
    padding-top: 5px;
    
}

.panel-body {
    width: 960px;
    padding: 10px;
}

.btn {
    margin: 10px;
    margin-left: 0px;
    background-color: grey;
    border: white;
}

.btn:hover { 
    background-color: #20315A;
}


h5 {
    margin-left: 22px;
    font-size: 15px;
    color: rgba(53, 57, 70, 0.993);
    font-family: 'News Cycle', sans-serif;

}